<div class="client-count-wrp mt-100 ">
  <div class="container">
    <div class="client-count-wrp-inner">
      <div class="cards">
        <h4>{{cities}}</h4>
        <p>Städte</p>
      </div>
      <!--card-->
      <div class="cards">
        <h4>{{locations}}</h4>
        <!--concat % sign-->
        <p>Locations</p>
      </div>
      <!--card-->
      <div class="cards">
        <h4>{{games}}</h4>
        <p>Spiele</p>
      </div>
      <!--card-->
      <div class="cards">
        <h4>{{user}}</h4>
        <p>Spieler</p>
      </div>
      <!--card-->
    </div>
  </div>
</div>
