<div class="container mar">
  <div class="row text-center">
    <div class="col">
      <div class="counter">
        <i class="fa fa-earth-africa fa-2x"></i>
        <h2 class="count-title count-number">{{cities}}</h2>
        <p class="count-text ">Bundesländer</p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-location-dot fa-2x"></i>
        <h2 class="count-title count-number">{{locations}}</h2>
        <p class="count-text ">Spielorte</p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-user fa-2x"></i>
        <h2 class="count-title count-number">{{user}}</h2>
        <p class="count-text ">Spieler</p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-fire-flame-curved fa-2x"></i>
        <h2 class="count-title count-number">{{games}}</h2>
        <p class="count-text ">Spiele</p>
      </div>
    </div>
  </div>
</div>
