.client-count-wrp {
  padding: 20px 0;
}

.heading h4 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 50px;
}

.client-count-wrp-inner {
  display: flex;
  justify-content: space-between;
}

.cards h4 {
  color: #fff;
  font-size: 70px;
  line-height: 65px;
}

.cards h4 {
  color: #109e70
}

.cards p {
  color: #a6a6a6;
  font-size: 20px;
}

@media (max-width:991px) {
  .mt-100 {
    margin-top: 30px !important;
  }
  .client-count-wrp {
    padding: 40px 0;
  }
  .client-count-wrp-inner {
    flex-direction: column;
  }
  .cards h4 {
    font-size: 50px;
    line-height: 40px;
  }
  .cards {
    margin: 20px 0;
  }
  .client-count-wrp {
    padding: 25px 0;
    margin: 0 25px;
  }
  /****/
}
