<div class="body">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gutes Netzwerken.</h5>
          <p class="card-text">
            Kickern als Ice-Breaker. Der KickerClub fördert das Spielen in neuen Konstellationen. So lernt ihr schnell neue Kollegen kennen und bleibt mit alten
            in Kontakt.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Effizientes Arbeiten.</h5>
          <p class="card-text">
            Nach intensiven Konzentrationsphasen muss der Kopf auch mal abschalten. Maximiert den Mehrwert eurer Pausen. Powert euch aus und kämpft um die
            hausinterne Kickerkrone.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Starker Teamgeist.</h5>
          <p class="card-text">
            Werdet ein eingespieltes Team und kickert gegen andere Firmen. Gemeinsames Gewinnen und Verlieren schweißt euch zusammen. Ergänzt euch gegenseitig
            und werdet gemeinsam besser.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

