<div class="body">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <span class="d-flex d-flex justify-content-center">
            <i class="fas fa-chart-line fa-3x circle-icon gr"></i>
          </span>
          <h5 class="card-title">Hauseigene Liga</h5>
          <p class="card-text">
            Eine eigene Liga für eure Firma. Fordert eure Kollegen heraus und werdet interner Champion. Spielt dabei immer wieder gegen andere, um mehr Punkte
            zu erhalten. Hier fehlt noch ein Satz um auf die richtige Größe zu kommen.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <span class="d-flex d-flex justify-content-center">
            <i class="fas fa-trophy fa-3x circle-icon gr"></i>
          </span>
          <h5 class="card-title">Spannende Turniere</h5>
          <p class="card-text">
            Ladet zu einem eigenen Turnier in eure Firma und spielt in unterschiedlichen Konstellationen. Mit einem Post in unserem Newsfeed erreichst du genau
            die Richtigen und ihr werdet ein super Event haben.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <span class="d-flex d-flex justify-content-center">
            <i class="fa-brands fa-connectdevelop fa-3x circle-icon gr"></i>
          </span>
          <h5 class="card-title">Teil des großen Ganzen</h5>
          <p class="card-text">
            Ihr seid nicht die Einzigen, die gerne kickern. Fordert andere Firmen heraus und kickert gemeinsam beim Feierabendbier. Spielt um die Firmenkrone
            und lernt dabei viele neue Teams kennen.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

