<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Plus Tier -->
      <div class="col-lg-6">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Wohnzimmer</h5>
            <h6 class="card-price text-center">€9<span class="period">/Monat</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Spieler</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Ein Tisch</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimitierte Anzahl an Spielen</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Ergebnisse zählen in Stadt- / Landesliga
              </li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Öffentlich einsehbar
              </li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn kc-btn text-uppercase">Wohnzimmerliga bestellen!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Firma</h5>
            <h6 class="card-price text-center">€29<span class="period">/Monat</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimitierte Spieler</strong>
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Bis zu drei Tische</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimitierte Anzahl an Spielen</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Ergebnisse zählen in Stadt- / Landesliga</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Öffentlich einsehbar</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn kc-btn text-uppercase">Firmenliga bestellen!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
