<div class="text-center body">
  <img src="https://kickerclubimages.s3.eu-central-1.amazonaws.com/assets/KC_Logo_Einzeilig.webp" width="50%" alt="KickerClub" class="img-fluid">
  <h1 class="text-light">Spiele in Ligen, erhalte Statistiken und vieles mehr!</h1>
  <h3 class="text-light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
    erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, </h3>
  <app-numer-counter></app-numer-counter>
</div>
